body {
    font-family: Mplus 1p, sans-serif;
    margin: 0;
        text-align: center; 
    }
    p {
        font-size: 16px; 
        line-height: 1.5; 
        margin-bottom: 20px; 
    }
    
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #4C76B0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 10px;
}

main {
    padding: 100px 20px; /* Ajusta el padding para el espacio del header */
}

.image-container {
    text-align: center;
    margin-top: 50px;
    
}